
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
	font-size: 50px;
	line-height: 54px;
	color: #222;
}

h2 {
	font-size: 46px;
	line-height: 54px;
	color: #222;
}

h3 {
	font-size: 38px;
	line-height: 54px;
	color: #222;
}

h4 {
	font-size: 30px;
	line-height: 54px;
	color: #222;
}

h5 {
	font-size: 22px;
	line-height: 54px;
	color: #222;
}

h6 {
	font-size: 20px;
	line-height: 54px;
	color: #222;
}

p {
	font-size: 16px;
	color:#465b52;
	margin: 15px 0 20px 0;
}

.sectionp1 {
	padding: 40px 40px;
}

/*Index Page*/

	/* Header Styling */
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #E3E6F3;
	box-shadow: 0 5px 50px rgba(0,0,0,0.06);
}
	/* Navbar styling*/
#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}
#navbar li{
	list-style:none;
	padding: 0 15px;
}
#navbar li a {
	text-decoration:none;
	font-size: 16px;
	font-weight:600;
	color: royalblue;
	transition: 0.3s ease;
}
#navbar li a:hover {
	color: darkslategrey;
}
	/*Front Page Hero*/
#frontpagehero {
	background-image: url(img/pizzabackground3.png);
	background-size: cover;
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
	#frontpagehero h1,
	#frontpagehero h5 {
		//color: greenyellow;
		//background-color: black;
		color: white;
		text-shadow: 0px 0px 12px black;
	}
	/*Featured Pizzas*/
#product1{
	text-align:center;
}
#product1 .pro-container{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	flex-wrap: wrap;
}
	#product1 .pro {
		width: 23%;
		min-width: 250px;
		padding: 10px 12px;
		border: 1px solid #cce7d0;
		border-radius: 25px;
		margin: 15px 0;
	}
product1 .pro img{
	width:100%;
	border-radius:20px;
}

	
/*Shop Page*/

	/*Shop Page Hero*/
#shophero {
	background-image: url(img/pizzabackground3.png);
	background-size: cover;
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
	#shophero h1,
	#shophero h5 {
		color: white;
		//background-color: #E3E6F3;
		text-shadow: 0px 0px 12px black;
	}