
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

h1{
	font-size: 50px;
	line-height: 54px;
	color: #222;
}

h2 {
	font-size: 46px;
	line-height: 54px;
	color: #222;
}

h3 {
	font-size: 38px;
	line-height: 54px;
	color: #222;
}

h4 {
	font-size: 30px;
	line-height: 54px;
	color: #222;
}

h5 {
	font-size: 22px;
	line-height: 54px;
	color: #222;
}

h6 {
	font-size: 20px;
	line-height: 54px;
	color: #222;
}

p {
	font-size: 16px;
	color:#465b52;
	margin: 15px 0 20px 0;
}

.sectionp1 {
	padding: 40px 40px;
}

/*Index Page*/

	/* Header Styling */
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #E3E6F3;
	box-shadow: 0 5px 50px rgba(0,0,0,0.06);
}
	/* Navbar styling*/
#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}
#navbar li{
	list-style:none;
	padding: 0 15px;
}
#navbar li a {
	text-decoration:none;
	font-size: 16px;
	font-weight:600;
	color: royalblue;
	transition: 0.3s ease;
}
#navbar li a:hover {
	color: darkslategrey;
}
	/*Front Page Hero*/
#frontpagehero {
	background-image: url(img/pizzabackground3.png);
	background-size: cover;
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
	#frontpagehero h1,
	#frontpagehero h5 {
		//color: greenyellow;
		//background-color: black;
		color: white;
		text-shadow: 0px 0px 12px black;
	}
	/*Featured Pizzas*/
#product1{
	text-align:center;
}
#product1 .pro-container{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	flex-wrap: wrap;
}
	#product1 .pro {
		width: 23%;
		min-width: 250px;
		padding: 10px 12px;
		border: 1px solid #cce7d0;
		border-radius: 25px;
		margin: 15px 0;
	}
product1 .pro img{
	width:100%;
	border-radius:20px;
}

	
/*Shop Page*/

	/*Shop Page Hero*/
#shophero {
	background-image: url(img/pizzabackground3.png);
	background-size: cover;
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
	#shophero h1,
	#shophero h5 {
		color: white;
		//background-color: #E3E6F3;
		text-shadow: 0px 0px 12px black;
	}
	/*Pagination*/
	#pagination{
		text-align: center;
	}
	#pagination a{
		text-decoration: none;
		background-color: orange;
		padding: 15px 20px;
		border-radius: 14px;
		margin: 2px 2px 2px 2px;
		color:white;
		font-weight:600;
	}

/*Single Product Page*/

	/*Product Details*/
#prodetails{
	display: flex;
	margin-top: 20px;
}
	#prodetails .single-product-image {
		width: 50%;
		margin-right: 30px;
		margin-top: 20px;
	}
	#prodetails single-product-details {
		width: 50%;
		padding-top: 30px;
	}
	#prodetails select{
		display: block;
		padding:5px 10px;
		margin-bottom:10px;
		margin-top:15px;
	}
	#prodetails input{
		width: 45px;
		height: 43px;
		padding-left: 10px;
		font-size: 16px;
		margin-right: 10px;
		margin-top: 10px;
	}
	#prodetails button {
		background-color: coral;
		color:white;
		width: 200px;
		height: 43px;
		
	}

/*Shopping Cart Page*/

#cart table{
	width:100%;
	border-collapse:collapse;
	table-layout:fixed;
	white-space:nowrap;
}
#cart table td:nth-child(1){
	width:150px;
	text-align:center;
}
#cart table td:nth-child(2) {
		width: 150px;
		text-align: center;
	}
#cart table td:nth-child(3) {
		width: 100px;
		text-align: center;
	}
#cart table td:nth-child(4) {
		width: 100px;
		text-align: center;
	}
#cart table thead {
		border: 2px solid #e2e9e1;
		border-left:none;
		border-right:none;
	}
#cart table thead td{
		font-weight:700;
		text-transform:uppercase;
		font-size:13px;
		padding:18px 0;
	}
#cart table tbody tr td {
		padding-top: 18px;
	}
#cart table tbody td {
		font-size: 13px;
	}